<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Enter movie name"
        formControlName="name"
      />
      <mat-error
        *ngIf="nameError?.invalid && nameError?.touched && nameError?.errors?.['required']"
        >Name is required *</mat-error
      >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Poster</mat-label>
      <input
        type="text"
        matInput
        formControlName="poster"
        placeholder="Enter movie poster"
      />
      <mat-error
        *ngIf="posterError?.invalid && posterError?.touched && posterError?.errors?.['required']"
        >Poster is required *</mat-error
      >
      <mat-error
        *ngIf="posterError?.invalid && posterError?.touched && posterError?.errors?.['pattern']"
      >
        Poster link should start with http *
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Summary</mat-label>
      <input
        type="text"
        matInput
        placeholder="Enter summary"
        formControlName="summary"
      />
      <mat-error
        *ngIf="summaryError?.invalid && summaryError?.touched && summaryError?.errors?.['maxlength']"
        >Give few words</mat-error
      >
      <mat-error
        *ngIf="summaryError?.invalid && summaryError?.touched && summaryError?.errors?.['minlength']"
        >Give some more words</mat-error
      >
      <mat-error
        *ngIf="summaryError?.invalid && summaryError?.touched && summaryError?.errors?.['required']"
        >Summary is required *</mat-error
      >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Rating</mat-label>
      <input
        type="number"
        matInput
        placeholder="Enter movie rating"
        formControlName="rating"
      />
      <mat-error
        *ngIf="ratingError?.invalid && ratingError?.touched && ratingError?.errors?.['maxlength']"
        >Give few words</mat-error
      >
      <mat-error
        *ngIf="ratingError?.invalid && ratingError?.touched && ratingError?.errors?.['minlength']"
        >Give some more words</mat-error
      >
      <mat-error
        *ngIf="ratingError?.invalid && ratingError?.touched && ratingError?.errors?.['required']"
        >Rating is required *</mat-error
      >
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">
      Update Movie
    </button>
  </div>
</form>
