img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

span {
    font-weight: bold;
}