.container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    overflow: scroll;
}

.forms {
    display: flex;
}

.form {
    width: 300px;
    height: 100%;
    position: sticky;
    background-color: white;
    top: 20px;
}
