.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    padding: 24px;
}


.form {
    width: 300px;
    height: 100%;
    position: sticky;
    background-color: white;
    top: 20px;
    padding: 50px;
}
